<section class="container mx-auto px-6 py-8 lg:px-0">
  <div class="mx-auto max-w-sm">
    <h2 class="font-semibold text-2xl mb-4">Create an Account</h2>

    <%= form_for(resource, as: resource_name, html: {
        class: "bg-white shadow-md rounded px-8 pt-6 pb-8"
        }, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :email, class: "form-field-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "form-field-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "text-field" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: "form-field-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-field" %>
      </div>

      <div class="flex items-center justify-between mb-4">
        <%= f.submit "Sign up", class: "btn" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</section>
