<%= form_with(model: recipe, local: true, class: "md:flex md:flex-wrap") do |form| %>
  <div class="md:w-full">
    <% if recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
          <% recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <% if recipe.image.attached? %>
      <div class=" block mb-4">
        <%= image_tag(@recipe.image, class: "") %>
      </div>
    <% end %>
  </div>
  <div class="md:w-1/2 md:pr-8">
    <div class="mb-4">
      <%= form.label :name, class: "form-field-label" %>
      <%= form.text_field :name, class: "text-field" %>
    </div>

    <div class="mb-4">
      <%= form.label :image, class: "form-field-label" %>
      <%= form.file_field :image, class: "text-field" %>
    </div>

    <div class="mb-4">
      <%= form.label :time_to_prepare, class: "form-field-label" %>
      <%= form.text_field :time_to_prepare, class: "text-field" %>
    </div>

    <div class="mb-4">
      <%= form.label :feeds, class: "form-field-label" %>
      <%= form.text_field :feeds, class: "text-field" %>
    </div>
    
    <div class="mb-4 md:mb-0">
      <%= form.label :description, class: "form-field-label" %>
      <%= form.text_area :description, rows: 3, class: "text-field" %>
    </div>
  </div>

  <div class="md:w-1/2">
    <div class="mb-4 md:mb-0">
      <%= form.label :instructions, class: "form-field-label" %>
      <%= form.text_area :instructions, rows: 8, class: "text-field" %>
    </div>
  </div>
  <div class="md:w-full">
    <h3 class="font-semibold text-xl my-2">Ingredients</h3>
    <div data-controller="nested-form-field">
      <template data-target="nested-form-field.template">
        <%= form.fields_for :ingredients, Ingredient.new, child_index: 'NEW_RECORD' do |ingredient| %>
          <%= render 'ingredient_fields', form: ingredient %>
        <% end %>
      </template>

      <%= form.fields_for :ingredients do |ingredient| %>
        <%= render "ingredient_fields", form: ingredient %>
      <% end %>

      <div class="inline-block mb-3 hover:text-green-600" data-target="nested-form-field.links">
        <%= link_to "#", type: "button", class: "flex items-center text-current", data: { action: "click->nested-form-field#addRecord" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline h-4 w-4 fill-current hover:text-green-600 text-gray-800 mr-2">
            <path d="M16 10c0 .553-.048 1-.601 1H11v4.399c0 .552-.447.601-1 .601-.553 0-1-.049-1-.601V11H4.601C4.049 11 4 10.553 4 10c0-.553.049-1 .601-1H9V4.601C9 4.048 9.447 4 10 4c.553 0 1 .048 1 .601V9h4.399c.553 0 .601.447.601 1z"/>
          </svg>
          Add Ingredient
        <% end %>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <%= link_to "Cancel", recipes_path %>
      <%= form.submit "Save", class: "btn" %>
    </div>
  </div>
<% end %>
