<%= content_tag :div, class: "nested-fields", data: { new_record: form.object.new_record? } do %>
  <div class="md:flex items-end mb-2">
    <div class="mb-4 md:mb-0 md:mr-4">
      <%= form.label :quantity, class: "form-field-label" %>
      <%= form.text_field :quantity, class: "text-field-sm" %>
    </div>
    <div class="mb-4 md:mb-0 md:mr-4">
      <%= form.label :name, class: "form-field-label" %>
      <%= form.text_field :name, class: "text-field" %>
    </div>
    <%= link_to "#", data: { action: "click->nested-form-field#remove_association" }, type: 'button' do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4 fill-current text-gray-800 hover:text-red-700 mb-3">
        <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
      </svg>
    <% end %>
  </div>

  <%= form.hidden_field :_destroy %>
<% end %>