<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Time to prepare:</strong>
  <%= @recipe.time_to_prepare %>
</p>

<p>
  <strong>Feeds:</strong>
  <%= @recipe.feeds %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= ingredient_list_for(@recipe) %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
