<section class="container mx-auto mt-8">
  <div class="md:flex bg-white mb-8 shadow-lg rounded-lg overflow-hidden">
    <%= image_tag("https://lorempixel.com/1000/800/food", class: "md:w-1/3 md:flex-shrink-0") %>

    <div class="p-8 md:flex-shrink-1">
      <h3 class="text-2xl mb-4"><%= @recipe.name %></h3>
      <p class="text-base mb-4"><%= @recipe.description %></p>
      <div class="mb-4">
        <p class="mr-2 block"><span class="font-semibold">Feeds: </span><%= @recipe.feeds %></p>
        <p class="block"><span class="font-semibold">Prep Time <small>(approx.)</small>: </span><%= @recipe.time_to_prepare %></p>
      </div>
      <p class="mb-4 block"><span class="font-semibold">Ingredients: </span><%= ingredient_list_for(@recipe) %></p>
      <p class="mb-4 block"><span class="font-semibold">Instructions: </span><%= @recipe.instructions %></p>
    </div>
  </div>

  <%= link_to 'Edit', edit_recipe_path(@recipe) %>
  <%= link_to 'Back', recipes_path %>
</section>