<section class="container mx-auto px-6 py-8 lg:px-0">
  <div class="mx-auto max-w-sm">
    <h2 class="font-semibold text-2xl mb-4">Please Sign In</h2>
    <%= form_for(resource, as: resource_name, html: {
        class: "bg-white shadow-md rounded px-8 pt-6 pb-8"
      }, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "current-password",
            class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="md:flex md:items-center mb-6">
          <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
          <%= f.label :remember_me, class: "md:w-2/3 block text-gray-500 font-bold" %>
        </div>
      <% end %>

      <div class="flex items-center justify-between mb-4">
        <%= f.submit "Log in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>

</section>